/* 
==============================
  VARIABLES
==============================
*/
:root {
  /* Colors */
  --color-text: #161513;
  --color-dark: #312d2a;
  --color-tint: #f1efed;
  --color-brand: #c74634;
  --color-link: #006b8f;
  /* Fonts & Typography */
  --font-main: ;
  --font-1: "Voces", sans-serif;
  --font-2: "Source Sans 3", sans-serif;
  --font-3: "Mulish", sans-serif;
  /* Length values */
  /* Other values */
}

/* 
==============================
  GLOBAL BASE
==============================
*/
body {
  /* font-family: var(--font-main); */
  font-family: var(--font-3);
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: var(--color-text);
}

* {
  border: 1px solid red;
}

/* 
==============================
  REUSABLE CLASSES
==============================
*/
