/* 
==============================
  VARIABLES
==============================
*/
:root {
  /* Colors */
  --color-text: #161513;
  --color-dark: #312d2a;
  --color-tint: #f1efed;
  --color-brand: #c74634;
  --color-link: #006b8f;
  /* Fonts & Typography */
  --font-main: ;
  /* Length values */
  /* Other values */
}

/* 
==============================
  GLOBAL BASE
==============================
*/
body {
  font-family: var(--font-main);
  color: var(--color-text);
}

* {
  border: 1px solid red;
}

/* 
==============================
  REUSABLE CLASSES
==============================
*/
