@import url(/assets/css/reset.css);
@import url(/assets/css/base.css);

/* 
==============================
  HEADER
==============================
*/
.header {
}
.header__wrapper {
}
.header__navigation {
  display: flex;
}
.header__navigation--menu-logo_wrapper {
  display: flex;
}
.header__navigation--menu {
}
.header__navigation--logo {
}
.header__navigation--tablet-and-pc-searchbar_wrapper {
}
.header__navigation--right-buttons_wrapper {
}

/* 
==============================
  MAIN
==============================
*/
.main {
  height: 1000px;
}

/* 
==============================
  FOOTER
==============================
*/

/* 
==============================
  MEDIA QUERIES
==============================
*/
